{% load static %}
{% load render_bundle from webpack_loader %}

{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Django Template">
    <title>LARA SignIn</title>
    <link rel="icon" type="image/x-icon" href="{% static 'icons/favicons/favicon.ico' %}">
    <!--script src="https://unpkg.com/htmx.org@2.0.2"></script-->
   
    {% render_bundle 'lara_django_core' 'js' attrs='defer' %}
    {% django_htmx_script %}
    <!--script src="https://cdn.tailwindcss.com"></script-->
    <!-- import a custom css file-->
    <link rel="stylesheet"  type="text/css" href="{% static 'css/output.css' %}">

    {% render_bundle 'lara_django_core' 'css' %}
    <!--link rel="stylesheet"  type="text/css" href="{% static 'css/allauth_styles.css' %}"-->
    

</head>
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="allauth">

    <!--h1 class="text-3xl text-center font-bold text-gray-800">Hello world, LARA</h1>
    <button hx-get="{% url 'home-message' %}" class="bg-green-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" hx-trigger="click" hx-swap="outerHTML">Home</button>
	
    <h1 class="text-3xl font-bold underline">
        Hello tailwind world!
      </h1-->

    {% include 'allauth/includes/messages.html' %}

    {% block layout %}
    <content class="block max-w-3xl mx-auto md:p-12">
        <div class="bg-white rounded-2xl md:drop-shadow-2xl shadow-black w-full p-8">
    
        {% block content %} 
        {% endblock %}
    
        </div>
    </content>
    {% endblock layout%}

    {% block javascript %}{% endblock %}

</body>
</html>
