/* put custom styles here */


h1 {
    @apply text-4xl font-bold mb-4
}

h2 {
    @apply text-xl font-bold mb-2
}

p {
    @apply mb-4
}

a {
    @apply text-blue-500 underline
}

.button, button, [type='submit'], [type='button'] {
    @apply bg-green-500 text-white font-bold rounded-lg shadow-lg transition-all cursor-pointer
}

.button, button a, [type='submit'], [type='button'] {
    @apply px-6 py-4 inline-block
}

.button:hover, button:hover, [type='submit']:hover, [type='button']:hover {
    @apply bg-lime-600
}

.button:active, button:active, [type='submit']:active, [type='button']:active {
    @apply scale-95
}

.button.alert, button.alert {
    @apply bg-red-700
}

.button.alert:hover, button.alert:hover {
    @apply bg-red-600
}

.button-red {
    @apply !bg-red-500 hover: !bg-red-600
}

.button-gray {
    @apply !bg-gray-300 hover: !bg-[#c3c9d0]
}

.button-red-outline {
    @apply outline font-bold rounded-lg shadow-lg transition-all cursor-pointer hover: !bg-red-600
}

.navitems>li>a {
    @apply flex items-center gap-2 h-12 px-4 hover:bg-[rgba(31, 41, 55, 0.3)] rounded-lg;
}

.hoverlist>* {
    @apply hover:bg-gray-100 rounded-md transition duration-150;
}

.hoverlist>*>a {
    @apply flex items-center p-2;
}

.highlight {
    @apply !bg-indigo-100;
}

.allauth content a {
    @apply underline underline-offset-2
}

.allauth content a:hover {
    @apply text-indigo-500
}

.allauth form[action="/accounts/signup/"] ul {
    @apply hidden
}

.allauth form[action="/accounts/signup/"] ul.errorlist {
    @apply block
}

.allauth .helptext {
    @apply block mt-4
}

/*label {
            @apply hidden
        }*/
input[type=file] {
    @apply bg-white pl-0
}

.textarea, textarea, input {
    @apply w-full rounded-lg py-4 px-5 bg-gray-100
}

.errorlist li {
    @apply p-1 pl-4 border-l-red-500 border-l-4 border-solid mb-2 text-red-500
}

label[for="id_remember"] {
    @apply inline-block w-auto mr-2
}

input[name="remember"] {
    @apply w-auto
}

.alert-info {
    @apply bg-sky-600
}

.alert-success {
    @apply bg-emerald-600
}

.alert-warning {
    @apply bg-orange-600
}

.alert-danger {
    @apply bg-red-600
}