{% extends "admin/base.html" %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% load static  %}

{% block branding %}
<img src="{% static 'icons/LARA_logo.svg' %}" alt="LARA_logo">
<h1 id="site-name"><a href="{% url 'admin:index' %}">LARA administration</a></h1>

{{ block.super }}
{% endblock %}

{% block nav-global %}{% endblock %}
