{% extends "account/base_entrance.html" %}

{% load static %}

{% load allauth account %}
{% block head_title %}
    LARA_sign_in
{% endblock head_title %}
{% block content %}
    
    <div class="flex justify-center">
        <a href="https://gitlab.com/lara-django">
            <img class="w-32 h-32" src="{% static 'lara_django_base/icons/LARA_logo.svg' %}" alt="LARA logo" />
        </a>
    </div>

    {% element h1 %}
        Sign In to LARA
    {% endelement %}
    {% url 'account_login' as login_url %}
    {% element form form=form method="post" action=login_url tags="entrance,login" %}
        {% slot body %}
            {% csrf_token %}
            {% element fields form=form unlabeled=False %}
            {% endelement %}
            {% if redirect_field_value %}
                <input type="hidden"
                       name="{{ redirect_field_name }}"
                       value="{{ redirect_field_value }}" />
            {% endif %}
        {% endslot %}
        {% slot actions %}
            {% element button type="submit" tags="prominent,login" %}
                Sign In
            {% endelement %}
        {% endslot %}
    {% endelement %}
    {% if SOCIALACCOUNT_ENABLED %}
        {% include "socialaccount/snippets/login.html" with page_layout="entrance" %}
    {% endif %}
    <p>
        If you have not created an account yet, then please
    <a class="text-blue-500" href="{% url 'account_signup' %}?next={% url 'lara_django_people:profile-onboarding' %}" >Register to LARA</a> first.
    </p>
{% endblock content %}